[submodule "projects/algos"]
	path = projects/algos
	url = https://github.com/ItMeansBigMountain/algos.git
	branch = main
[submodule "projects/cox-elementary-pta"]
	path = projects/cox-elementary-pta
	url = https://github.com/ItMeansBigMountain/cox-elementary-pta.git
	branch = main
[submodule "projects/osrs-plugins/BisLoadouts"]
	path = projects/osrs-plugins/completed/BisLoadouts
	url = https://github.com/ItMeansBigMountain/bis-loadouts-osrs.git
	branch = main
[submodule "projects/osrs-plugins/ClanWarBoard"]
	path = projects/osrs-plugins/in-progress/ClanWarBoard
	url = https://github.com/ItMeansBigMountain/clan-war-board-osrs.git
	branch = main
[submodule "projects/osrs-plugins/WhosGrindingClanPanel"]
	path = projects/osrs-plugins/completed/WhosGrindingClanPanel
	url = https://github.com/ItMeansBigMountain/whos-grinding-clan-panel-osrs.git
	branch = main
[submodule "projects/plugin-hub"]
	path = projects/plugin-hub
	url = https://github.com/ItMeansBigMountain/plugin-hub.git
	branch = master
[submodule "projects/osrs-plugins/_templates/osrs-plugins-boilerplate"]
	path = projects/osrs-plugins/_templates/osrs-plugins-boilerplate
	url = https://github.com/ItMeansBigMountain/osrs-plugins-boilerplate-osrs.git
	branch = main
[submodule "projects/youtube-automation"]
	path = projects/youtube-automation
	url = https://github.com/ItMeansBigMountain/youtube-automation.git
[submodule "projects/osrs-plugins/services/clan-war-board-service"]
	path = projects/osrs-plugins/services/clan-war-board-service
	url = https://github.com/ItMeansBigMountain/clan-war-board-service.git
	branch = main
[submodule "projects/osrs-plugins/completed/DeadmanBreachTimer"]
	path = projects/osrs-plugins/completed/DeadmanBreachTimer
	url = https://github.com/ItMeansBigMountain/breach-check-osrs.git
	branch = master
[submodule "projects/CombatAtlas"]
	path = projects/CombatAtlas
	url = https://github.com/ItMeansBigMountain/CombatAtlas.git
	branch = main
[submodule "projects/_archive/Generative-AI"]
	path = projects/_archive/Generative-AI
	url = https://github.com/ItMeansBigMountain/Generative-AI.git
	branch = main
[submodule "projects/_archive/HTML_REGEX"]
	path = projects/_archive/HTML_REGEX
	url = https://github.com/ItMeansBigMountain/HTML_REGEX.git
[submodule "projects/_archive/Kubernetes-Docker"]
	path = projects/_archive/Kubernetes-Docker
	url = https://github.com/ItMeansBigMountain/Kubernetes-Docker.git
[submodule "projects/_archive/Multiplayer"]
	path = projects/_archive/Multiplayer
	url = https://github.com/ItMeansBigMountain/Multiplayer.git
[submodule "projects/_archive/OptaPlanner"]
	path = projects/_archive/OptaPlanner
	url = https://github.com/ItMeansBigMountain/OptaPlanner.git
[submodule "projects/_archive/REST_Templates"]
	path = projects/_archive/REST_Templates
	url = https://github.com/ItMeansBigMountain/REST_Templates.git
[submodule "projects/_archive/React.web_userLoginForm"]
	path = projects/_archive/React.web_userLoginForm
	url = https://github.com/ItMeansBigMountain/React.web_userLoginForm.git
[submodule "projects/_archive/Spring_Boot_webDev"]
	path = projects/_archive/Spring_Boot_webDev
	url = https://github.com/ItMeansBigMountain/Spring_Boot_webDev.git
[submodule "projects/_archive/darkSouls-Unity"]
	path = projects/_archive/darkSouls-Unity
	url = https://github.com/ItMeansBigMountain/darkSouls-Unity.git
[submodule "projects/_archive/frequencyFinder.Hz"]
	path = projects/_archive/frequencyFinder.Hz
	url = https://github.com/ItMeansBigMountain/frequencyFinder.Hz.git
[submodule "projects/_archive/pdf-emailer"]
	path = projects/_archive/pdf-emailer
	url = https://github.com/ItMeansBigMountain/pdf-emailer.git
[submodule "projects/_archive/penTest"]
	path = projects/_archive/penTest
	url = https://github.com/ItMeansBigMountain/penTest.git
[submodule "projects/_archive/robinhood-daily-portfolio-report"]
	path = projects/_archive/robinhood-daily-portfolio-report
	url = https://github.com/ItMeansBigMountain/robinhood-daily-portfolio-report.git
[submodule "projects/_archive/security-research-source-monorepo"]
	path = projects/_archive/security-research-source-monorepo
	url = https://github.com/ItMeansBigMountain/security-research-source-monorepo.git
[submodule "projects/_archive/snake-REACT_NATIVE"]
	path = projects/_archive/snake-REACT_NATIVE
	url = https://github.com/ItMeansBigMountain/snake-REACT_NATIVE.git
[submodule "projects/_archive/spring_Oauth"]
	path = projects/_archive/spring_Oauth
	url = https://github.com/ItMeansBigMountain/spring_Oauth.git
[submodule "projects/_archive/spring_template"]
	path = projects/_archive/spring_template
	url = https://github.com/ItMeansBigMountain/spring_template.git
[submodule "projects/_archive/wornly"]
	path = projects/_archive/wornly
	url = https://github.com/ItMeansBigMountain/wornly.git
