[submodule "projects/algos"]
	path = projects/algos
	url = https://github.com/ItMeansBigMountain/algos.git
	branch = main
[submodule "projects/cox-elementary-pta"]
	path = projects/cox-elementary-pta
	url = https://github.com/ItMeansBigMountain/cox-elementary-pta.git
	branch = main
[submodule "projects/osrs-plugins/BisLoadouts"]
	path = projects/osrs-plugins/completed/BisLoadouts
	url = https://github.com/ItMeansBigMountain/bis-loadouts-osrs.git
	branch = main
[submodule "projects/osrs-plugins/ClanWarBoard"]
	path = projects/osrs-plugins/in-progress/ClanWarBoard
	url = https://github.com/ItMeansBigMountain/clan-war-board-osrs.git
	branch = main
[submodule "projects/osrs-plugins/WhosGrindingClanPanel"]
	path = projects/osrs-plugins/completed/WhosGrindingClanPanel
	url = https://github.com/ItMeansBigMountain/whos-grinding-clan-panel-osrs.git
	branch = main
[submodule "projects/plugin-hub"]
	path = projects/plugin-hub
	url = https://github.com/ItMeansBigMountain/plugin-hub.git
	branch = master
[submodule "projects/osrs-plugins/_templates/osrs-plugins-boilerplate"]
	path = projects/osrs-plugins/_templates/osrs-plugins-boilerplate
	url = https://github.com/ItMeansBigMountain/osrs-plugins-boilerplate-osrs.git
	branch = main
[submodule "projects/youtube-automation"]
	path = projects/youtube-automation
	url = https://github.com/ItMeansBigMountain/youtube-automation.git
[submodule "projects/osrs-plugins/services/clan-war-board-service"]
	path = projects/osrs-plugins/services/clan-war-board-service
	url = https://github.com/ItMeansBigMountain/clan-war-board-service.git
	branch = main
[submodule "projects/osrs-plugins/completed/DeadmanBreachTimer"]
	path = projects/osrs-plugins/completed/DeadmanBreachTimer
	url = https://github.com/ItMeansBigMountain/breach-check-osrs.git
	branch = master
[submodule "projects/CombatAtlas"]
	path = projects/CombatAtlas
	url = https://github.com/ItMeansBigMountain/CombatAtlas.git
	branch = main
